.sidebar {
    position: fixed;
    top: 4rem;

    height: calc(100vh - 4rem);
    width: 220px;

    z-index: 10;

    overflow-x: hidden;
    overflow-y: scroll;
}

html[dir="rtl"] .sidebar {
    right: 0;
    transition: right 0.125s ease;
}

html[dir="ltr"] .sidebar {
    left: 0;
    transition: left 0.125s ease;
}

.nav-link {
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    line-height: 1.1rem;
}

@media (max-width: 991px) {
    html[dir="rtl"] .sidebar {
        right: -220px;
    }

    html[dir="rtl"] .sidebar.open {
        right: 0;
    }

    html[dir="ltr"] .sidebar {
        left: -220px;
    }

    html[dir="ltr"] .sidebar.open {
        left: 0;
    }
}
